*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    
}
html, 
body{
    background-color: black !important;
    color: #fff;
    width:100%;
}
form{
    max-width: 400px;
    color: black;
    background-color: lightblue;
    margin: 30px auto;
    padding: 30px 50px;
    height: 65vh;
    border:2px solid black;
}

input{
     height: 40px;
     font-size: 24px;
     padding-left: 20px;
     color: orange;
    border: none;
    outline: none !important;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
}
label{
    color: rgb(10, 3, 20);
    font-size: 24px;
    
}
input[type='submit']
{
    background:blue;
    color:  white;
    padding: 15px 10px;
    font-size: 24px;
    height: 60px;
}
